@font-face {
    font-family: "Unbounded";
    src: url(../fonts/Unbounded-Bold.ttf) format("truetype");
    font-weight: 700; /*peso/expessura da fonte geralmente escolhida por quem criou o projeto*/
    font-style: normal;
    font-display: swap; /*força o navegador a carregar uma fonte secundaria até a principal carregar*/
}

@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Regular.ttf) format("truetype");
    font-weight: 400; /*peso/expessura da fonte geralmente escolhida por quem criou o projeto*/
    font-style: normal;
    font-display: swap; /*força o navegador a carregar uma fonte secundaria até a principal carregar*/
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0E1014;
    color: #FFFFFF;
}

header img {
    display: block;
    margin: 75px 0 0 360px;
}

h1{
    font-size: 64px;
    font-family: "Unbounded", sans-serif; /*importada do css, depois de linkada*/
    text-align: center;
    margin-top: 60px;
}

h1 span {
    color: #9747FF;
}

p {
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin: 24px auto 0;
    width: 792px;
}

a {
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    text-decoration: none;
    background-color: #9747FF;
    width: 340px;
    right: 66px;
    display: block;
    text-align: center; /*colocamos oo texto no centro do botão*/
    line-height: 66px; /*pega a linha no navegadoor e deixa na mesma altura do botão*/
    border-radius: 36px;
    /*padding-top: 24px;
    padding-bottom: 24px; se usassemos isso tambem, ele ia comar com o width e right e ficaria enorme*/
    margin: 40px auto;
}

a:hover {
    background-color: #8233E8;
}

section img {
    display: block;
    width: 792px;
    height: 446px;
    margin: 0 auto;
}

/*informando pro navegador que ele precisa fazer algo pra uma medida exata (ex: medida de tablet)*/

/*usamos o media quaery.
aqui eu falo que quando o navegador chegar nessa informação, ele precisa executar algo diferente

nesse caso quando a janeta do meu navegador chegar num tamanho de 768px, ,ele vai executar um estilo diferente*/
@media(max-width: 768px){
    header img{
        margin: 65px 0 0 60px;
    }

    p {
       width: 648px; 
    }
}

/*agora pras medidas de um celular*/
@media(max-width: 375px){
    header img{
        margin: 32px 0 0 16px;
    }

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 20px;
        width: 340px;
    }

    a {
        font-size: 20px;
        width: 251px;
    }

    section img {
        width: 340px;
        height: 230px;
    }
}